*.bk*
*.o
glenstesting
glenstesting_quad
glensloop
glensloop_quad
glensscan
glensscan_quad
glensscan_int
glensscan_int_quad
lightcurve
lightcurve_quad
lightcurve_int
lightcurve_int_quad
likelihood
likelihood_quad
likelihood_int
likelihood_int_quad
mlchain
mlchain_int
mlptchain_int
mlptchain_new_int
gleam
gleam_quad
lib
include
ptmcmc